<%= render 'select2' %>

<div id="app" class="results-page" v-cloak>

  <div id="notifications">
    <div class="flash flash_notice" v-if="success">
      {{ result_form }}
    </div>
    <div class="flash flash_error" v-if="error">
      {{ result_form }}
    </div>
  </div>

  <form class="form" method="POST">
    <fieldset class="inputs inputs-headers">
      <ol>
        <li class="championship">
          <label><%= t('activerecord.models.championship.one') %></label>
          <select2
            :options="championships"
            v-model="championship"
            :disabled="!championships.length || freeze_form">
              <option v-for="c in championships" :value="c.id">
                {{ c.name }}
              </option>
          </select2>
        </li>
        <li>
          <label><%= t('activerecord.models.schedule.one') %></label>
          <select2
            :options="schedules"
            v-model="schedule"
            :disabled="freeze_form || !schedules.length">
              <option v-for="s in schedules" :value="s.id">
                {{ s.number }}
              </option>
          </select2>
        </li>
        <li>
          <label><%= t('activerecord.models.race.one') %></label>
          <select2
            :options="races"
            v-model="race"
            :disabled="freeze_form || !races.length">
              <option v-for="r in races" :value="r.id">
                {{ r.category.name }}
              </option>
          </select2>
        </li>
        <li>
          <label><%= t('activerecord.models.subcategory.one') %></label>
          <select2
            :options="races"
            v-model="subcategory"
            :disabled="freeze_form || !subcategories.length">
              <option v-for="sc in subcategories" :value="sc.id">
                {{ sc.name }}
              </option>
          </select2>
        </li>
        <li class="ok-button">
          <button
            type="button"
            v-on:click="show()"
            :disabled="freeze_form || !participants.length || !subcategory">
              Ok
          </button>
        </li>
      </ol>
    </fieldset>

    <fieldset
      class="inputs"
      v-if="show_table_participants && participants.length">
      <ol>
        <li>
          <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Número</th>
                <th>Time</th>
                <th>Finalizó?</th>
                <th>Ausente?</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="f in form">
                <td>
                  {{ f.participant.firstname }} {{ f.participant.lastname }}
                </td>
                <td>
                  <input
                    type="number"
                    v-model="f.participant_number"
                    :disabled="f.absent">
                </td>
                <td>
                  <input
                    type="text"
                    class="timepicker"
                    :disabled="f.absent"
                    v-model="f.time">
                </td>
                <td>
                  <input
                    type="checkbox"
                    v-model="f.finished"
                    :disabled="f.absent">
                </td>
                <td>
                  <input type="checkbox" v-model="f.absent">
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <li>
          <div class="">
            <button
            type="button"
            v-if="freeze_form"
            :disabled="submiting"
            v-on:click="submit()">
              {{ (submiting) ? 'Actualizando...' : 'Actualizar' }}
            </button>
            <button
              type="button"
              v-if="freeze_form"
              :disabled="submiting"
              v-on:click="cancel()">
                Cancel
            </button>
          </div>
        </li>
      </ol>
    </fieldset>
  </form>
</div>

<%= render 'footer' %>
